<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<title>Lunch Buddies</title>
</head>
	
<body style="background-color: rgb(255, 255, 225)">
	<div id="jumbotron">
		<div id="container">
			<script type="in/Login">
			</script>
				<img src="/static/images/lunchbuddys.png" style="width: 600px;margin-top: -200px;margin-bottom: 10px;">
				<h1>Welcome to Lunch Buddies!</h1>
				<p>This is the place to find like-minded individuals and invite them to lunch. Get a lunch buddy today.</p>
				<a href="/users/auth" class="btn btn-primary btn-lg" role="button">
					<img src="/static/images/linkedin.png">
				</a>
		</div>
	</div>
</body>
</html>


