<!DOCTYPE html>
<html>
	<head>
		<title>You found a Buddy</title>
		<link rel="stylesheet" type="text/css" href="/static/css/match_style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$.get('/users/get_info', function(res) {
				var str = '';
				str += res.headline;
				$('#info2').html(str);
			}, 'json');
		});
		</script>
	</head>
	<body>
	<div id="container">
		<ul class="nav nav-pills">
			<li role="presentation"><a href="/users/dashboard"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
			<li role="presentation"><a href="/users/logout">Logout</a></li>
			{% if buddy_check %}
			<li role="presentation" class="active"><a href="/appointments/match">My Match</a></li>
			{% endif %}
			<li role="presentation"><a href="/users/profile"id="nametag">{{session['name']}}</a></li>
			<li role="presentation" class="pull-right"><a href="/users/dashboard" ><img id="lunchbuddy" src="/static/images/lunchbuddys2.png"></a>
		</ul>
			<h1>{{session['name']}}</h1>
			<h3>You have been matched with: {{buddy_user['name']}}</h3>
			<p>All you have to do is email your lunch buddy and set up the appointment.</p>
			<p>Enjoy your lunch!</p>
		<div class="row">
			<div class="col-md-6">
				<p><img src="{{session['image_link']}}" class="img-thumbnail"></p>
				<p>{{session['full_name']}}</p>
				<p>{{session['headline']}}</p>
				<p>{{session['industry']}}</p>
				<p>{{session['email']}}</p>
			</div>
			<div class="col-md-6">
				<p><img src="{{buddy_user['image_link']}}" class="img-thumbnail"></p>
				<p>{{buddy_user['name']}}</p>
				<p>{{buddy_user['headline']}}</p>
				<p>{{buddy_user['industry']}}</p>
				<p>{{buddy_user['email']}}	</p>
			</div>
		</div>
	</div>
	</body>
</html>